[submodule "scottokeebs"]
	path = PCB/scottokeebs
	url = https://github.com/joe-scotto/scottokeebs.git
[submodule "PCB/scottokeebs"]
	path = PCB/scottokeebs
	url = https://github.com/joe-scotto/scottokeebs.git
