[submodule "hackpads/orpheuspad/PCB/MX_V2"]
	path = hackpads/orpheuspad/PCB/MX_V2
	url = https://github.com/ai03-2725/MX_V2
[submodule "hackpads/orpheuspad/PCB/OPL_Kicad_Library"]
	path = hackpads/orpheuspad/PCB/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library
[submodule "hackpads/ambryv1/firmware"]
	path = hackpads/ambryv1/firmware
	url = https://github.com/pmnlla/zmk-board-cfg
        branch = master
[submodule "hackpads/Ambrylight/firmware"]
	path = hackpads/Ambrylight/firmware
	url = https://github.com/pmnlla/zmk-board-cfg
        branch = ambrylight
[submodule "hackboards/shrekboard"]
	path = hackboards/shrekboard
	url = https://github.com/daamin909/keyboard
