@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: #150C21; */
}

@keyframes title {

}

a {
    color: rgb(250 204 21);
    text-decoration-line: underline;
    font-weight: bold
}