[submodule "OPL_Kicad_Library"]
	path = PCB/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library/
[submodule "kiswitch"]
	path = PCB/kiswitch
	url = https://github.com/kiswitch/kiswitch
[submodule "Keebio-Parts.pretty"]
	path = PCB/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty"]
	path = PCB/KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty
	url = https://github.com/gorbachev/KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty
[submodule "PCB/mbk-footprints"]
	path = PCB/mbk-footprints
	url = https://github.com/FKcaps/mbk-footprints
