[submodule "OPL_Kicad_Library"]
	path = OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library.git
[submodule "MX_V2"]
	path = MX_V2
	url = https://github.com/ai03-2725/MX_V2.git
[submodule "kiswitch"]
	path = kiswitch
	url = https://github.com/kiswitch/kiswitch
