# SPDX-FileCopyrightText: 2022 Alec Delaney, for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

Adafruit-Blinka
adafruit-circuitpython-mcp230xx
adafruit-circuitpython-busdevice
adafruit-circuitpython-74hc595
adafruit-circuitpython-typing~=1.5
